.replyForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.radioInput {
  display: flex;
  gap: 10px;
  margin: 10px 0px 10px 0px;
}

.textInputGroup {
  display: flex;
  flex-direction: column;
}

.submitButton {
  width: 125px;
}
